header {
    background-color: midnightblue;
    padding: 1rem;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: larger;
}

h1 {
    color: hsl(187, 89%, 52%);
}
footer {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid black
}

div {
    display: flex;
    gap: 20px;
}